
.weekly-tracker-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem 0;
  align-items: center;
  width: 100%;
  margin: 0.35rem 0.35rem;
}

.weekly-tracker-cell {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  /* margin-right: 0.35rem; */
  /* margin-bottom: 0.7rem; */
}

.weekly-tracker-blob {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 999px;
  border: 2px solid #8a8f99;
  background-color: #1b1b1d;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 800;
  color: #d4d7dd;
  /* font-size: 1rem; */
}

.weekly-tracker-blob.filled {
  background-color: #4aae91;
  border-color: #4aae91;
  color: white;
}

.weekly-tracker-blob.outlined {
  background-color: #1b1b1d;
  border-color: #5f6368;
  color: #ddd;
}

.weekly-tracker-blob .week-label {
  width: 100%;
  text-align: center;
  font-size: 0.7ren;
  font-weight: 900;
  line-height: 1;
}

.tracker-line {
  width: 0.8rem;
  height: 0.25rem;
  background-color: #4a4d52;
  display: inline-block;
}

.tracker-line.active {
  background-color: #4aae91;
}

.tracker-spacer {
  width: 0.8rem;
  height: 0.25rem;
  display: inline-block;
}

.markdown-preview-view .weekly-tracker-container {
  width: 100%;
} 